@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --font: "EB Garamond", serif;
    --font-title: "Playfair Display", serif;
    --font-sans-serif: "Manrope", sans-serif;
    --black: #1c1f33;
    --gray: #eee;
    --gray-1: #ededed;
}

* {
    box-sizing: border-box;
}